@import '.././../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCardsMapVariant {
  padding: 0 0 96px 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  @media (min-width: 1600px) {
    column-gap: 59px;
    row-gap: 96px;
  }
  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 430px) {
    gap: 36px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.listingCards {
  padding: 0 0 72px 0;

  /* display: grid; */
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  /* max-width: 883px; */
  /* @media (max-width: 1700px) {
    padding: 0 60px;
  }
  @media (max-width: 1360px) {
    padding: 0 40px;
  } */
  @media (max-width: 1023px) {
    /* padding: 0 20px; */
    margin: 0 auto 0px;
  }
}

.listingCard {
  width: 100%;
  display: grid;
  flex-direction: row;
  grid-template-columns: 21% 70%;
  gap: 83px;
  /* border-bottom: 1px solid #8d918d; */
  @media (max-width: 1700px) {
    gap: 8%;
  }
  @media (max-width: 767px) {
    gap: 6%;
    grid-template-columns: 30% 61%;
  }
  & > div {
    &:nth-child(1) {
      max-width: 120px;
      max-height: 120px;
      @media (max-width: 767px) {
        max-width: 100px;
        max-height: 100px;
      }
      & img {
        border-radius: 15px;
      }
      & > div {
        padding-bottom: 100% !important;
      }
    }
  }
}
.totalPrice {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
  & h6 {
    font-size: 16px;
  }
}

.cardHeader {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: var(--desertSandLight);
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--desertSandDark);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.vendor {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--desertSandDark);
  &:not(:first-child) {
    margin-top: 40px;
  }
  & .venderCards {
    gap: 32px;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    @media (max-width: 768px) {
      padding: 30px 20px;
    }
    & > div {
      &:not(:last-child) {
        padding-bottom: 40px;
        border-bottom: 1px solid #e5e5e5;
      }
    }
    & .listingCard {
      display: flex;
      align-items: center;
    }
  }
  & .checkoutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1023px) {
      margin-top: 48px;
    }
    & p {
      margin: 0;
    }
  }
}
.checkoutButton {
  gap: 40px;
  display: flex;
  align-items: center;
  @media (max-width: 500px) {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  & button {
    border-radius: 0;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 500px) {
      /* padding-left: 0;
      padding-right: 0; */
    }
  }
}
.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin-top: auto;
  background-color: transparent;
}
.cardsMain {
  display: grid;
  grid-template-columns: 60% 34.5%;
  gap: 84px;
  margin-bottom: 220px;
  @media (max-width: 1700px) {
    gap: 5%;
  }
  @media (max-width: 1360px) {
    grid-template-columns: 50% 42%;
  }
  @media (max-width: 1023px) {
    margin-bottom: 120px;
    grid-template-columns: 100%;
    gap: 30px;
  }
}
.cartTitle {
  font: normal normal 900 44px/50px Roc Grotesk;
  letter-spacing: 0px;
  color: #3a3d3a;
  margin: 0;
  @media (max-width: 1023px) {
    margin-bottom: 32px;
  }
}
.checkoutCard {
  border: 3px solid #3a3d3a;
  padding: 49px 44px 30px;
  @media (max-width: 1360px) {
    padding: 24px;
  }
  & button {
    height: 72px;
    border-radius: unset;
    font: normal normal bold 20px/32px Roc Grotesk;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      height: 56px;
    }
  }
  & h6,
  & h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & h6 {
    font: normal normal normal 16px/32px Roc Grotesk;
    letter-spacing: 0px;
    color: #3a3d3a;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }
  & h5 {
    font: normal normal bold 16px/32px Roc Grotesk;
    letter-spacing: 0px;
    color: #3a3d3a;
    text-transform: capitalize;
    border-top: 1px solid #3a3d3a;
    margin: 32px 0 42px;
    padding-top: 32px;
    @media (max-width: 1360px) {
      margin: 24px 0 24px;
      padding-top: 24px;
    }
  }
  & .rightText {
    width: 126px;
  }
}
.cartSummary {
  font: normal normal bold 20px/30px Roc Grotesk;
  letter-spacing: 0px;
  color: #3a3d3a;
  margin: 0 0 14px;
}
.navigation{
  overflow: auto;
}
/* .navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 29px 24px 0 24px;

  border-top-width: 1px;
  border-top-color: var(--colorGrey100);
  border-top-style: solid;
  background-color: var(--colorWhite);
  box-shadow: var(--boxShadow);

  @media (--viewportMedium) {
    padding: 24px 24px 0 24px;
  }

  @media (--viewportLarge) {
    flex-wrap: unset;
    padding: 40px 0 82px 36px;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  @media (--viewportLargeWithPaddings) {
    padding: 120px 0 82px 194px;
  }
} */

.content {
  /* width: calc(100% - 48px);
  margin: 12px 24px 24px 24px; */
  padding: 35px 52px;

  @media (--viewportMedium) {
    /* max-width: 565px; */
    /* margin: 55px auto 56px auto; */
  }

  @media (max-width: 520px) {
    padding: 35px 24px;
  }
}
.priceWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: var(--darkJungle);
  line-height: 28px;
  letter-spacing: 0px;
  font-family: var(--dmSansFamily);
  & span {
    font-weight: 700;
    margin-left: 5px;
  }
}

.AutorImgWrapper {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: var(--dmSansFamily);
}

.AutorImg {
  width: 32.67px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
}

.authorName {
  font-family: var(--dmSansFamily);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  text-align: left;
  color: #cdac00;
  text-decoration: underline;
}

.favoriteInfo {
  font-size: 18px;
}
